* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    position: relative;
}



nav {
    width: 100%;
    height: 80px;
    padding: 10px;

    position: fixed;
    top: 0;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(255, 255, 255);
}

.link-left, .link-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

button {
    background-color: transparent;
    line-height: 78px;
    border: transparent;
}
/* 
button:hover {
    border-bottom-color: blue;
} */

.btn-blu {
    line-height: normal;
    background-color: rgb(0, 97, 255);
    padding: 8px 10px;
    color: white;
}

.btn-blu a:visited {
    color: white;
}


.jumbo {
    background-color: rgb(180, 208, 231);

    /* debug */
    width: 100%;
    height: 750px;
    border: 1px solid rgba(0, 0, 0, 0)
}

.jumbo-container {
    max-width: 1100px;
    margin: 80px auto 0;
    padding-top: 70px;
}

.jumbo-container h1 {
    font-size: 4.5em;
    font-weight: 800;
}

.jumbo-inner {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.testo {
    padding: 30px 0;
}

.btn-blu.btn-centrali {
    width: 180px;
}

.fa-arrow-down {
    font-size: 3em;
    padding-top: 20px;
}

.jumbo-inner img {
    max-width: 70%;
    height: auto;
    object-fit: contain;
}


.main-container {
    width: 800px;
    margin: auto;

    /* debug */
    /* height: 3000px; */
    /* border: 1px solid black; */
    /* background-color: coral; */
}


#business-plan {
    width: 100%;
    padding-top: 150px;


    /* debug */
    height: 800px;
    /* background-color: red; */

}

#business-plan h2 {
    font-size: 2em;
}

.piani-divisi {
    display: flex;
    justify-content: space-between;
    align-content: stretch;

    height: auto;
}

.colonna {
    width: 30%;
    height: auto;


    /* debug */
    background-color: blueviolet;
}

.sezione-centrata {
    width: 100%;


    /* debug */
    height: 200px;
    background-color: chartreuse;
}

.partner {
    width: 100%;


    /* debug */
    height: 500px;
    background-color:darkolivegreen;
}

.operations {
    width: 100%;


    /* debug */
    height: 800px;
    background-color:mediumpurple;
}

.team-business {
    width: 100%;


    /* debug */
    height: 200px;
    background-color:seagreen;
}


.carosello {
    width: 100vw;


    /* debug */
    background-color: seagreen;
    height: 300px;
}


.prova-gratuita {
    width: 100%;


    /* debug */
    height: 200px;
    background-color:aqua;
}


.faq {
    width: 100%;


    /* debug */
    height: 200px;
    background-color: seagreen;
}





/* debug */
footer {
    background-color: black;
    height: 400px;
}