* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    position: relative;
}



nav {
    width: 100%;
    height: 80px;
    padding: 0 20px;

    position: fixed;
    top: 0;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(255, 255, 255);
}

nav ul {
    list-style-type: none;
    height: 100%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;

}

nav ul li {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
nav ul li a:hover {
    line-height: 80px;
    border-bottom: 1px solid blue;
} */

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

button {
    background-color: transparent;
    border: transparent;
}

.btn-blu {
    background-color: rgb(0, 97, 255);
    padding: 10px;
    color: white;
}

.btn-blu a:visited {
    color: white;
}


.jumbo {
    background-color: rgb(180, 208, 231);
}

.jumbo-container {
    max-width: 1100px;
    margin: 80px auto 0;
    padding-top: 70px;
}

.jumbo-container h1 {
    font-size: 4.5em;
    font-weight: 800;
}

.jumbo-inner {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 20px;
}

.jumbo-testo {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.jumbo-testo button {
    width:fit-content;
}

.jumbo-testo .fa-arrow-down {
    font-size: 2.5em;
}

.jumbo-inner .jumbo-img {
    width: 70%;
    margin-bottom: -40%;
}


.jumbo-img img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}




/* ______________main____________ */


.main-container {
    max-width: 900px;
    margin: auto;
}

#business-plan {
    padding-top: 150px;
    font-size: small;
}

.main-container h2 {
    font-size: 3em;
}

.fatturazione {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
    padding: 50px 0;
}



/* prova per falsa checkbox */
.cerchio {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 4px solid rgb(0, 64, 255);
    border-radius: 50%;
}

/* /prova per falsa checkbox */



.piani-divisi {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
}


.colonna {
    width: 30%;
    padding-bottom: 40px;

    border: 1px solid gray;
}

.intestazione {
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 10px;
}

.contenuto {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
    padding-top: 10%;
}

.titolo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titolo h3 {
    font-size: medium;
    font-weight: 800;
}

.titolo strong {
    font-weight: 800;
}

.features {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0;
}

.una-riga {
    display: flex;
    gap: 10px;
}

.btn-blu.btn-centrali {
    width: 100%;
}

.contenuto .link-singolo a:link {
    color: blue;
    text-decoration: underline;
}

.contenuto .link-singolo a:visited {
    color: blueviolet;
}

.divisorio {
    color: lightgray;
    width: 40px;
    margin-top: 20px;
}

.punti-salienti .una-riga i {
    color: rgb(0, 64, 255);
    font-size:large;
}




.sezione-centrata {
    margin: 50px 0;
    height: auto;
    border: 1px solid gray;
}

.sezione-centrata .una-riga {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.sezione-centrata .una-riga .titolo {
    width: 70%;
    padding: 5% 0 0 5%;
}

.sezione-centrata .una-riga .titolo p {
    padding: 10% 0;
}

.sezione-centrata .una-riga .btn-container {
    width: 30%;
    padding: 5% 0;
}

.btn-container .btn-blu {
    width: 100%;
}


.partner {
    width: 100%;


    /* debug */
    height: 500px;
    background-color:darkolivegreen;
}

.operations {
    width: 100%;


    /* debug */
    height: 800px;
    background-color:mediumpurple;
}

.team-business {
    width: 100%;


    /* debug */
    height: 200px;
    background-color:seagreen;
}


.carosello {
    
    
    /* debug */
    width: 100%;
    background-color: seagreen;
    height: 300px;
}


.prova-gratuita {
    
    
    /* debug */
    width: 100%;
    height: 200px;
    background-color:aqua;
}


.faq {
    
    
    /* debug */
    width: 100%;
    height: 200px;
    background-color: seagreen;
}





/* debug */
footer {
    background-color: black;
    height: 400px;
}