* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    position: relative;
}



nav {
    width: 100%;
    height: 80px;

    position: fixed;
    z-index: 2;

    /* debug */
    background-color: rgb(255, 255, 255);
}



.jumbo {
    background-color: rgb(180, 208, 231);

    /* debug */
    width: 100%;
    height: 750px;
    border: 1px solid black;
}

.jumbo-container {
    max-width: 1100px;
    margin: 80px auto 0;
    padding-top: 70px;

    /* debug */
    /* background-color: hotpink; */
    border: 1px solid black;
}

.jumbo-container h1 {
    font-size: 4.5em;
    font-weight: 800;
}

.jumbo-inner {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}


.jumbo-inner img {
    max-width: 70%;
    height: auto;
}


.main-container {

    width: 800px;
    margin: auto;

    /* debug */
    /* height: 3000px; */
    border: 1px solid black;
    background-color: coral;
}


/* div provvisorio in attesa di un'idea migliore */
.finto-padding {
    width: 100%;
    height: 150px;
}


#business-plan {
    width: 100%;


    /* debug */
    height: 800px;
    background-color: red;
    
}

#business-plan h2 {
    font-size: 2em;
}

.piani-divisi {
    display: flex;
    justify-content: space-between;
    align-content: stretch;

    height: auto;
}

.colonna {
    width: 30%;
    height: auto;
    

    /* debug */
    background-color: blueviolet;
}

.sezione-centrata {
    width: 100%;


    /* debug */
    height: 200px;
    background-color: chartreuse;
}

.partner {
    width: 100%;
    
    
    /* debug */
    height: 500px;
    background-color:darkolivegreen;
}

.operations {
    width: 100%;
    
    
    /* debug */
    height: 800px;
    background-color:mediumpurple;
}

.team-business {
    width: 100%;
    
    
    /* debug */
    height: 200px;
    background-color:seagreen;
}


.carosello {
    width: 100vw;
    
    
    /* debug */
    background-color: seagreen;
    height: 300px;
}


.prova-gratuita {
    width: 100%;
    
    
    /* debug */
    height: 200px;
    background-color:aqua;
}


.faq {
    width: 100%;
    
    
    /* debug */
    height: 200px;
    background-color: seagreen;
}





/* debug */
footer {
    background-color: black;
    height: 400px;
}